*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,html{
  height: 100%;
  width: 100%;
}

.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.exo-2{
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.header{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}
.header-part-1{
  display: flex;
 
  flex-wrap: wrap;
  gap: 10px;
}
.header-part-2{
  display: none;
  flex-wrap: wrap;
  gap: 10px;
}
.header-part-3{
  display: flex;
  flex-wrap: wrap;
}
.header-part-1 h1{
  margin: 1rem;
  
}
.menu-container{
  position: relative;
  display: inline-block;
}
.menu-items{
  list-style: none;
  margin: 0;
  padding: 10px;
  position: absolute;
  top: 50px;
  left: 0;
  display: none;
  flex-direction: column;
  background: #fff;
  border: 1px solid #ddd;
  z-index: 1000;
}
@media (max-width: 767px){
  .menu-container.open .menu-items{
    display: flex;
  }
}
.menu-items li{
  margin: 8px 0;
}
.menu-items ul li a{
  color: #333;
  text-decoration: none;
}
.header button{
  padding: 0.5rem ;
  margin: 0.5rem;
    background: transparent;
  border: none;
  font-weight: 500;
}
.header button a {
  padding: 10px 20px;
  text-decoration: none;
  color: #111;

}
.header button :hover{
  background-color: antiquewhite;
  border-bottom: 2px solid #afa5a5;

} 
.hero{
  width: 100%;
  background-image: url('images/hero-main.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color:aliceblue;
  padding-block: 3rem;
  padding-inline: 3rem;
}

.hero h1{
  font-size: 3.5rem;
  margin-block-end: 20px;

}
.hero p{
  font-size: 1.3rem;
  font-weight: 500;

}
.hero #cta{
  margin-block-start: 50px;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
}

.trending{
  
  
  width: 100%;
  padding: 1rem;
  background: linear-gradient(rgb(230, 187, 130), rgb(215, 202, 185),rgb(228, 207, 180));
}
.trending h1{
  text-align: center;
  font-size: 2rem;
  margin-block-start: 2rem;
}
.trending p{
  text-align: center;
  margin-block: 1rem;

}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  border-radius: 1rem;
  padding: 1rem;
  margin-inline: 20px;
  margin-block: 20px;
  background-color: antiquewhite;
  box-sizing: border-box;
  height: 300px;
  width: 200px;
  text-align: center;
  align-items: center;
}
.card h3{
  opacity: 0.5;
  font-size: 0.8rem;
}
.card h2{
  font-size: 0.9rem;
}
.card img{
  border-radius: 1rem;
  height: 50%;
  width: 80%;
  object-fit: cover;
  margin-bottom: 10px;
}
#price-button{
  margin-block: 10px;
  padding: 0.5rem 1rem;
  background-color: rgb(164, 146, 121);
  border-radius: 10px;
  color: whitesmoke;
  border: none;
  box-shadow: 1px 1px 1px #fff;
}
.services{
  justify-content: center;
  padding-block: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background: linear-gradient(to left, rgb(219, 227, 206), rgb(231, 237, 188));
}
.services-card{
  border-radius: 2rem;
  margin: 10px;
  padding: 20px;
  border: 2px dotted white;
}
.services-card img{
  height: 50px;
}
.bestsellers{
   background: linear-gradient(to left, rgb(231, 237, 188), rgb(219, 227, 206));
  padding: 20px;
}
.bestsellers-top{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 30px 10px;
}
.bestsellers-card-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
}
.bestsellers-card{
  padding: 1rem;
  margin: 1rem;
  display: flex;
  gap: 12px;
  background-color: #fff;
  border-radius: 1rem;
}
.bestsellers-card h2{
  font-size: 20px;
}
p{
  margin-top: 10px;
}
.bestsellers-card h3{
  font-size: 20px;
  margin-top: 30px;
}
.bestsellers-card img{
  height: 200px;
  width: 150px;
  border-radius: 1rem;
}
.newsletter{
  background-color: rebeccapurple;
  color: #fff;
  padding: 1rem;
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}
.email-input{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

#email{
  padding: 10px;
  border-radius: 10px;
  opacity: 0.9;
  border: none;
  margin-block: 20px;
}
#subscribe-button{
  
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #fff;
  color: rebeccapurple;
  font-weight: 600;
}
.footer{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  text-align: center;
}


.footer-part-1 .social-media-img img{
  height: 50px;
}
.footer-part-2{
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  gap: 20px;
}
.footer-part-2 a{
  text-decoration: none;
  color: #4f4848;
}
.final-footer{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 0.7rem;
  background-color: antiquewhite;
  padding-block: 20px;

  justify-content: center;
}







@media (min-width:700px){
  .header-part-1 h1{
    font-size: 50px;
  }
  .menu-container:hover .menu-items{
    display: flex;
  }
  .header-part-2{
    display: flex;
    color: #111;
  }
  .header-part-2 #search-bar{
    padding: 20px 60px;
    font-size: 20px;
  }
  .header-part-2 i{
    font-size: 30px;
  }
  .header button{
    font-size: 20px;
  }
  .hero{
    height: 80vh;
    padding: 5rem;
  }
  .hero h1{
    font-size: 6rem;
    width: 70%;
  }
  .hero p{
    font-size: 2rem;
    width: 60%;
  }
  .hero #cta{
    margin-top: 8rem;
  }
  .trending h1{
    font-size: 4rem;
  }
  .trending p{
    font-size: 2rem;
  }
  .trending .card{
    height: 500px;
    width: 300px;
  }
  .services-card h2{
    font-size: 2rem;
  }
  .services-card p{
    font-size: 1.5rem;
  }
  .services-card img{
    height: 100px;
  }
  .bestsellers h1{
    font-size: 4rem;
  }
  .bestsellers-card h2{
    font-size: 2rem;
  }
  .bestsellers-card p{
    font-size: 1.2rem;
  }
  .bestsellers-card h3{
    font-size: 1.5rem;
  }
  .bestsellers-card img{
  height: 330px;
  width: 250px;
  border-radius: 1rem;
}
  .card h3{
  opacity: 0.5;
  font-size: 1.2rem;
}
.card h2{
  font-size: 1.6rem;
}
  .card img{
  border-radius: 1rem;
  height: 65%;
  width: 90%;
  object-fit: cover;
  margin-bottom: 10px;
}
  .newsletter{
    height: 40vh;
  }
  .newsletter h1{
    font-size: 3rem;
    width: 50%;

  }
    .email-input{
      margin-top: 6rem;
    }
  .email-input #email{
    width: 30vw;
    height: 8vh;
    font-size: 1.2rem;
  }
  .email-input #subscribe-button{
    width: 15vw;
    height: 8vh;
    font-size: 1.7rem;

  }
  .email-input #subscribe-button:hover{
    background-color: rebeccapurple;
    color: #fff;
    border: 2px solid #fff;
  }
  .footer-part-1 p{
    margin-block: 20px;
    font-size: 20px;
  }
  .footer{
    gap: 100px;
    text-align: left;
  }
  .footer-part-1{
    width: 70%;
  }
  .footer-part-1 h1{
  font-size: 50px;  
  }
  .footer-part-1 h4{
  font-size: 30px;  
  margin-bottom: 10px;
  }
  .footer-part-2{
    h4{
      font-size: 50px;
      font-weight: 500;
    }
    a{
      font-size: 20px;
    }
  }
  .final-footer{
    justify-content: space-between;
  }
  .final-footer h3{
    font-size: 1rem;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-inline: 30px;

  }

}